__pycache__/
.idea/
tmp_*/
.Rproj.user
*.Rproj
.Rhistory
doc/*.html
R/local/*


data/annotation/*
!data/annotation/readme.md
data/external/*
!data/external/readme.md
data/result*/*
!data/result/readme.md
data/intermediate/*
!data/intermediate/readme.md

config.yaml
.RDataTmp


VennDiagram.*
